<div class='user'>
  <%= image_tag(@user.photo, :size => "150x150") %>
  <div class='user-content'>
    <span class='username'> <%= @user.name %> </span>
    <span class='counter'>Numeber of posts: <%= @user.post_counter %></span>
  </div>
  <br>
</div>