.user {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.user-content {
  border: 2px solid black;
  width: 80%;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.counter {
  float: right;
  align-items: end;
}

.bio {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

.post {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

.comment {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  margin-bottom: 30px;
}

button {
  margin-left: 45%;
  padding: 10px;
}

p {
  font-size: 1opx;
}

span {
  font-size: 15px;
}

a {
  color: black;
}
